
<div layout="row" layout-wrap="" layout-padding="" layout-margin="" class="bd-purple">
  <md-card flex="" ng-repeat="car in galleryController.cars | orderBy:'brand'" class="gallery-card">
    <md-card-header>
      <md-card-header-text><span class="md-title">{{car.brand}}</span><span class="md-subhead">{{car.price}}</span></md-card-header-text>
    </md-card-header><img ng-src="{{car.picture}}" class="md-card-image"/>
    <md-card-title>
      <md-card-title-text></md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center" class="layout-align-start-center layout-row">
      <button type="button" ng-click="mainController.showCompareForm(galleryController.cars)" class="md-button"><span>Comparar</span></button>
      <md-button type="button" ng-click="galleryController.showDetails(car)" class="md-primary md-raised md-hue-4"><span>Detalles</span></md-button>
      <md-card-icon-actions>
        <button type="button" aria-label="toggle" ng-click="car.showDescription = !car.showDescription" class="md-icon-button md-button">
          <md-icon md-svg-icon="{{car.showDescription ? 'navigation:ic_expand_less_24px' : 'navigation:ic_expand_more_24px'}}" aria-hidden="true"></md-icon>
        </button>
      </md-card-icon-actions>
    </md-card-actions>
    <md-card-content>
      <p ng-show="car.showDescription">{{car.description}}</p>
    </md-card-content>
  </md-card>
</div>