div.bd-purple(layout="row", layout-wrap="", layout-padding ="", layout-margin ="")
  md-card.gallery-card(flex="", ng-repeat="car in galleryController.cars | orderBy:'brand'")
    md-card-header
      md-card-header-text
        span.md-title {{car.brand}}
        span.md-subhead {{car.price}}
    img.md-card-image(ng-src='{{car.picture}}')
    md-card-title
      md-card-title-text
    md-card-actions.layout-align-start-center.layout-row(layout='row', layout-align='start center')
      button.md-button(type='button', ng-click="mainController.showCompareForm(galleryController.cars)")
        span Comparar
      md-button.md-primary.md-raised.md-hue-4(type='button', ng-click="galleryController.showDetails(car)")
        span Detalles
      md-card-icon-actions
        button.md-icon-button.md-button(type='button', aria-label='toggle', ng-click="car.showDescription = !car.showDescription")
          md-icon(md-svg-icon="{{car.showDescription ? 'navigation:ic_expand_less_24px' : 'navigation:ic_expand_more_24px'}}", aria-hidden='true')
    md-card-content
      p(ng-show="car.showDescription")
        | {{car.description}}

