head
  meta(name="viewport", content="initial-scale=1")
  //- injectBowerCSS:css
  //- endinject

  //- injectAppCSS:css
  link(rel="stylesheet", href="../css/bootstrap-theme.css", inline="")
  link(rel="stylesheet", href="../css/bootstrap.css", inline="")
  link(rel="stylesheet", href="../css/fonts.css", inline="")
  link(rel="stylesheet", href="../css/styles.css", inline="")
  //- endinject

