html(lang="en", ng-app="app")
  include main/head
  body(layout="column", ng-cloak="", ng-controller="MainController as mainController", layout-fill = "")
    include main/toolbar
    div(layout="row")
      include main/sidenav
      include main/content
    include main/scripts
